:root {
  --font-2x-large: 75px;
  --font-x-large: 56px;
  --font-large: 44px;
  --font-regular: 36px;
  --font-regular2: 30px;
  --font-middle: 24px;
  --font-middle2: 22px;
  --font-small: 18px;
  --font-xsmall: 20px;

  --color-contents-title: #000000;
  --color-contents-subtext: #000000;
  --color-card-subText: #8d8ba7;
  --color-qna-bg: #e2e2e2;

  --color-result-subText: #bcbacd;
  --color-border: #7676766b;
  --color-main: #f96c0d;
  --color-blue: #005983;
}
section {
  width: 100%;
  padding: 75px 0;
}
.loading {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: #ffffff;
  z-index: 99;
}
.loading_wrap {
  width: 120px;
}
.loading_wrap svg {
  width: 100%;
}
.common_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.eco .common_title,
.film .common_title {
  margin-bottom: 33px;
}
.common_title h1,
.common_title h2,
.common_title h3 {
  color: var(--color-contents-title);
  text-align: center;
  font-size: var(--font-regular);
  font-weight: bold;
  margin-bottom: 15px;
}
.common_title p {
  font-size: var(--font-small);
  text-align: center;
  font-weight: 400;
  color: var(--color-contents-subtext);
}
.common_wrap {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 48px;
  max-width: calc(1280px + 96px);
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 11;
  /* box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3); */
  border-bottom: solid 1px #dddddd;
}
.inHeader {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  position: relative;
}
.sub_menu {
  width: 100%;
  height: 0;

  position: fixed;
  top: 80px;
  left: 0;
  z-index: 11;
  background-color: #ffffff;
  overflow: hidden;
}
header:hover ~ .sub_menu {
  height: auto;
  border-bottom: solid 1px #dddddd;
}
.sub_menu:hover {
  height: auto;
  border-bottom: solid 1px #dddddd;
}
.sub_menu_wrap {
  display: flex;

  justify-content: center;
  width: 100%;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 160px;
}
.nav > ul {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
}

.nav_category {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_category > span {
  font-weight: 400;
  font-size: var(--font-small);
}
.nav_sub {
  border-right: solid 1px #dddddd;
  background-color: #ffffff;
  padding: 25px calc(25px * 1.8);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
}
.nav_sub:first-child {
  border-left: solid 1px #dddddd;
}
.nav_sub li {
  display: flex;
  width: 100%;
  padding: 5px 0;
  position: relative;
  align-items: center;
}
.nav_sub li span {
  position: relative;
  padding-bottom: 5px;
}
.nav_sub li a span:after {
  width: 0%;
  height: 2px;
  background-color: #767676;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  transition: all 0.3s;
}
.nav_sub li:first-child a span:after {
  display: none;
}
.nav_sub li a span:hover:after {
  width: 100%;
}
.nav_sub_title {
  font-weight: 500;
}
.nav_sub a {
  font-size: 14px;
  font-weight: 400;

  color: #757575;
}
.nav_btns {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.lang {
  position: relative;
  display: flex;
  gap: 5px;
}
.lang li a {
  color: #757577;
  font-size: 16px;
}
.lang li.active a {
  color: #000000;

  font-weight: 500;
}
/* footer */
footer {
  width: 100%;
  padding: 70px 0;
  margin-top: 120px;
  background: #f5f5f5;
}

.footer_wrap {
  width: 100%;
}
.footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerLogo {
  width: 120px;
  margin-bottom: 22px;
}
.footerLogo img {
  height: auto;
}
.copyright {
  margin-bottom: 30px;
}
.copyright p {
  font-size: var(--font-small);
  color: #5f5f5f;
  font-weight: 400;
  margin-bottom: 10px;
}
.copyright strong {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-contents-subtext);
}
.info {
  width: 100%;
}
.info_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.info_list:last-child {
  flex-direction: row;
}
.info_list > span:nth-child(1) {
  font-size: var(--font-small);
  color: #5f5f5f;
  font-weight: 300;
}
.info_list > span:nth-child(2) {
  font-size: var(--font-small);
  color: #5f5f5f;
  font-weight: 700;
  margin-bottom: 10px;
}
.info_list > span:last-child {
  margin: 0;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12.8%;
}
.footer_nav > span {
  color: #5f5f5f;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 20px;
}
.footer_nav ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_nav a {
  font-size: var(--font-small);
  color: #5f5f5f;
  font-weight: 400;
}
.footer_nav a .nav_sub_text {
  font-size: 14px;
}
.footer_sns li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sns_facebook,
.sns_instargram,
.sns_twitch,
.sns_youTube {
  display: none;
}
.sns_img {
  width: 24px;
}
.sns_img img {
  height: auto;
}
.footer_bottom {
  width: 100%;
}
.footer_bottom > strong {
  font-size: var(--font-xsmall);
  color: #5f5f5f;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px;
}
.footer_bottom > span {
  font-size: var(--font-small);
  color: #5f5f5f;
  font-weight: 400;
  margin-bottom: 0px;
}

/* introduce */
.keyvisual_banner {
  width: 100%;
  height: 620px;
  background: url("/asset/imgs/introduce_banner.jpg") no-repeat center/cover;
  padding: 0;
  padding-bottom: 123px;
}

.eco_banner {
  background: url("/asset/imgs/eco_banner.jpg") no-repeat center/cover;
}
.film_banner {
  background: url("/asset/imgs/film_banner.jpg") no-repeat center/cover;
}
.keyvisual_title {
  margin-bottom: 33px;
}
.keyvisual_title h3 {
  font-weight: 700;
  font-size: var(--font-regular);
  color: #ffffff;
}
.sub_keyvisual_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
.sub_keyvisual_wrap ul {
  display: flex;
  align-items: center;
  gap: 64px;
}
.flex-col {
  flex-direction: column;
}
.sub_keyvisual_wrap ul > li {
  position: relative;
  padding-bottom: 5px;
}
.sub_keyvisual_wrap ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  display: none;
}
.sub_keyvisual_wrap ul span {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.remocon {
  z-index: 10;
  width: auto;
  position: fixed;
  bottom: 10%;

  right: 10px;
}
.remocon_wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.remocon_btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f99d61;

  border-radius: 50px;
}
.top_btn img {
  width: 19px;
}
.contact_btn {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s, height 0.3s, border 0.3s;
}
.contact_btn > img {
  width: 30px;
  transition: all 0.3s;
}
.contact_text {
  width: 0;
  overflow: hidden;
  opacity: 0;
}
.contact_text > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact_text > p {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
}
.contact_text > div > span {
  font-size: 17px;
  color: #ffffff;
}
.contact_text > div > p {
  font-size: 14px;
  color: #ffffff;
}

.contact_btn:hover {
  width: 260px;
  height: 200px;
  border-radius: 25px;
  gap: 20px;
}
.contact_btn:hover > img {
  width: 55px;
}
.contact_btn:hover .contact_text {
  width: auto;

  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.progress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  z-index: 99;
}
.progress_bar {
  height: 100%;
  width: 0;
  background-color: #f96c0d;
}
.ask_help {
  max-width: 812px;
  margin: 0 auto;
  margin-top: 24px;
  width: 100%;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}
.ask_help h3 {
  margin-bottom: 11px;
  text-align: center;
  font-size: var(--font-middle2);
  color: var(--color-contents-title);
}
.moreBtn {
  border-radius: 30px;
  border: 1px solid var(--color-contents-title);
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 40px;
  transition: all 0.3s;
}
.moreBtn:hover {
  border: 1px solid #333333;
  background-color: #333333;
  color: #ffffff;
}
/* ui */

.contents {
  width: 100%;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.content:last-of-type {
  margin-bottom: 0;
}
.content_imgs {
  display: flex;
  gap: 10px;
}
.content_text:not(:last-of-type) {
  margin-bottom: 33px;
}
.content_text h4 {
  font-weight: 700;
  margin-bottom: 20px;
  white-space: nowrap;
  font-size: 20px;
}
.content_text ul li {
  list-style: disc;
  margin-bottom: 8px;
}
.content_text ul li:last-of-type {
  margin-bottom: 0;
}
.content_text p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
}

.content_text ul span {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}
.ppf_content {
  display: flex;
  margin-top: 170px;
  justify-content: space-between;
}
.content_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  width: 382px;
  height: 382px;
  position: relative;
  border: 1px solid #7676766c;
}
.content_inner:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0, -50%) rotate(90deg);
  width: 19px;
  height: 27px;
  filter: brightness(0);
  background: url(/asset/imgs/icons/arrow.png) no-repeat center/contain;
}
.content_inner:last-child:after {
  display: none;
}
.ppf_content_text {
  text-align: center;
  font-size: var(--font-xsmall);
  font-weight: 300;
}

/* content1 */
.content1 {
  display: flex;
  align-items: center;
  gap: 50px;
}
.content1:not(:last-child) {
  margin-bottom: 200px;
}
.content1_inner-img {
  width: 50%;
  height: 500px;
}
.content1_inner-text {
  width: 50%;
  height: 100%;
}
.content1 .content_text h4 {
  font-size: 20px;
}
.content1 .content_text li span {
  font-size: 20px;
}
.inner_box {
  width: 100%;
  display: flex;
  margin-top: 45px;
}
.inner_title {
  margin-bottom: 45px;
}
.inner_title h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}
.inner_title p {
  font-size: 20px;
  font-weight: 500;
}

/* content2 */
.content2 {
  display: flex;
  align-items: center;
  gap: 28px;
}
.content2_inner {
  width: 50%;
}
.content2_inner-img {
  width: 100%;
  aspect-ratio: 1/1;

  margin-bottom: 40px;
}
.mob_menu,
.mob_btn {
  display: none;
}
@media all and (max-width: 980px) {
  header {
    height: 60px;
  }
  .container {
    padding: 0 10px;
  }
  .logo {
    width: 80px;
  }
  .mob_menu {
    display: block;
  }
  .sub_menu,
  .nav,
  .nav_btns,
  .remocon {
    display: none;
  }
  .mob_btn {
    width: 28px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .mob_btn-bar {
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s;
  }
  .mob_menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    transform: translate(0, -100%);
    transition: all 0.3s;
    overflow: auto;
  }
  .mob_menu.active {
    transform: translate(0, 0);
  }
  .mob_btn-bar1.active {
    transform: translate(1px, 8.5px) rotate(45deg);
  }
  .mob_btn-bar2.active {
    opacity: 0;
  }
  .mob_btn-bar3.active {
    transform: translate(1px, -8px) rotate(-45deg);
  }
  .mob_menu_wrap {
    margin-top: 80px;
    width: 100%;
    padding: 30px;
  }
  .mob_menu_wrap > ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .mob_menu .nav_list {
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    justify-content: flex-start;
  }
  .mob_menu .nav_list .nav_category {
    width: 104px;

    justify-content: flex-start;
  }
  .mob_menu .nav_list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
  }

  .mob_menu .nav_list.active:first-child ul {
    height: 127px;
  }
  .mob_menu .nav_list.active:nth-child(2) ul {
    height: 225px;
  }
  .mob_menu .nav_list.active:last-child ul {
    height: 323px;
  }
  .mob_menu .nav_list span {
    font-size: 24px;

    font-weight: 700;
  }
  .mob_menu .nav_btns {
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
  }
  .mob_menu .nav_btns a {
    font-size: 20px;
    font-weight: 700;
  }
}
