:root {
  --font-2x-large: 75px;
  --font-x-large: 56px;
  --font-large: 44px;
  --font-regular: 36px;
  --font-regular2: 30px;
  --font-middle: 24px;
  --font-middle2: 22px;
  --font-small: 18px;
  --font-xsmall: 20px;

  --color-contents-title: #000000;
  --color-contents-subtext: #000000;
  --color-card-subText: #8d8ba7;
  --color-qna-bg: #e2e2e2;

  --color-result-subText: #bcbacd;
  --color-border: #7676766b;
  --color-main: #f96c0d;
  --color-blue: #005983;
}
section {
  width: 100%;
  padding: 75px 0;
}
.common_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.eco .common_title,
.film .common_title {
  margin-bottom: 33px;
}
.common_title h1,
.common_title h2,
.common_title h3 {
  color: var(--color-contents-title);
  text-align: center;
  font-size: var(--font-regular);
  font-weight: bold;
  margin-bottom: 15px;
}
.common_title p {
  font-size: var(--font-small);
  text-align: center;
  font-weight: 400;
  color: var(--color-contents-subtext);
}
.common_wrap {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 48px;
  max-width: calc(1280px + 96px);
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}
.inHeader {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
  position: relative;
}
.sub_menu {
  width: 100%;
  height: 0;
  border-top: solid 1px #dddddd;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: 11;
  background-color: #ffffff;
  overflow: hidden;
}
header:hover ~ .sub_menu {
  height: auto;
}
.sub_menu:hover {
  height: auto;
}
.sub_menu_wrap {
  display: flex;

  justify-content: center;
  width: 100%;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 160px;
}
.nav > ul {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav_list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  cursor: pointer;
}

.nav_category {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_category > span {
  font-weight: 400;
  font-size: var(--font-small);
}
.nav_sub {
  border-right: solid 1px #dddddd;
  background-color: #ffffff;
  padding: 25px calc(25px * 1.8);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0);
}
.nav_sub:first-child {
  border-left: solid 1px #dddddd;
}
.nav_sub li {
  display: flex;
  width: 100%;
  padding: 5px 0;
  position: relative;
  align-items: center;
}
.nav_sub li span {
  position: relative;
  padding-bottom: 5px;
}
.nav_sub li a span:after {
  width: 0%;
  height: 2px;
  background-color: #767676;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0px;
  transition: all 0.3s;
}
.nav_sub li:first-child a span:after {
  display: none;
}
.nav_sub li a span:hover:after {
  width: 100%;
}
.nav_sub_title {
  font-weight: 500;
}
.nav_sub a {
  font-size: 14px;
  font-weight: 400;

  color: var(--color-card-subText);
}
.nav_btns {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.lang {
  position: relative;
  display: flex;
  gap: 5px;
}
.lang li a {
  color: #757577;
  font-size: 16px;
}
.lang li.active a {
  color: #000000;

  font-weight: 500;
}
/* footer */
footer {
  width: 100%;
  padding: 70px 0;
  margin-top: 120px;
  background: #f5f5f5;
}

.footer_wrap {
  width: 100%;
}
.footer_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footerLogo {
  width: 120px;
  margin-bottom: 20px;
}
.footerLogo img {
  height: auto;
}
.copyright {
  margin-bottom: 30px;
}
.copyright p {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 400;
  margin-bottom: 10px;
}
.copyright strong {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-contents-subtext);
}
.info {
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.info_list {
  display: flex;

  gap: 5px;
}
.info_list span:nth-of-type(1) {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 400;
}
.info_list span:not(:nth-of-type(1)) {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 700;
  margin-bottom: 10px;
}
.info_list span:last-child {
  margin: 0;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12.8%;
}
.footer_nav > span {
  color: var(--color-contents-title);
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 42px;
}
.footer_nav ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer_nav a {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 400;
}
.footer_nav a .nav_sub_text {
  font-size: 14px;
}
.footer_sns li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sns_facebook,
.sns_instargram,
.sns_twitch,
.sns_youTube {
  display: none;
}
.sns_img {
  width: 24px;
}
.sns_img img {
  height: auto;
}
.footer_bottom {
  width: 100%;
  margin-top: 65px;
}
.footer_bottom > strong {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 600;
}
.footer_bottom span {
  font-size: var(--font-small);
  color: var(--color-contents-subtext);
  font-weight: 400;
  margin-bottom: 0px;
}

/* introduce */
.keyvisual_banner {
  width: 100%;
  height: 620px;
  background: url("/asset/imgs/introduce.jpg") no-repeat center/cover;
  padding: 0;
  padding-bottom: 123px;
}
.eco_banner {
  background: url("/asset/imgs/image\ 6.png") no-repeat center/cover;
}
.keyvisual_title {
  margin-bottom: 33px;
}
.keyvisual_title h3 {
  font-weight: 700;
  font-size: var(--font-regular);
  color: #ffffff;
}
.sub_keyvisual_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}
.sub_keyvisual_wrap ul {
  display: flex;
  align-items: center;
  gap: 64px;
}
.sub_keyvisual_wrap ul > li {
  position: relative;
  padding-bottom: 5px;
}
.sub_keyvisual_wrap ul > li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  display: none;
}
.sub_keyvisual_wrap ul span {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.remocon {
  z-index: 10;
  width: auto;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
}
.remocon_wrap {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.remocon_btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.top_btn img {
  width: 19px;
}
.contact_btn {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.contact_btn > img {
  width: 25px;
}
.contact_text {
  width: 0;
  overflow: hidden;
  opacity: 0;
}
.contact_text > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_text p {
  font-size: 10px;
}
.contact_text img {
  width: 10px;
}
.contact_btn:hover {
  width: 177px;
}
.contact_btn:hover .contact_text {
  width: auto;
  opacity: 1;
  transition: opacity 0.3s 0.3s;
}
.progress {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  z-index: 99;
}
.progress_bar {
  height: 100%;
  width: 0;
  background-color: #f96c0d;
}

/* ui */
.contents {
  width: 100%;
  position: relative;
}
.content {
  width: 100%;
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.content:last-of-type {
  margin-bottom: 0;
}
.content_imgs {
  display: flex;
  gap: 10px;
}
.content_text:not(:last-of-type) {
  margin-bottom: 33px;
}
.content_text h4 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 24px;
}
.content_text ul li {
  list-style: disc;
  margin-bottom: 8px;
}
.content_text ul li:last-of-type {
  margin-bottom: 0;
}
.content_text p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
}

.content_text ul span {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}
.ppf_content {
  display: flex;
  margin-top: 170px;
  justify-content: space-between;
}
.content_inner {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
  width: 382px;
  height: 382px;
  position: relative;
}
.content_inner:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translate(0, -50%) rotate(90deg);
  width: 19px;
  height: 27px;
  filter: brightness(0);
  background: url(/asset/imgs/icons/arrow.png) no-repeat center/contain;
}
.content_inner:last-child:after {
  display: none;
}
.ppf_content_text {
  text-align: center;
  font-size: var(--font-xsmall);
  font-weight: 300;
}
