.contact {
  padding-top: 150px;
}
.contact_wrap {
  width: 100%;
  height: auto;

  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}
.contact_formwrap {
  width: 100%;
  padding: 50px 0;
}
#contact-form {
  gap: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-form > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  max-width: 980px;
  position: relative;
}
#contact-form > div > span {
  font-size: 20px;
}
#contact-form > div input {
  outline: 0;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  height: 30px;
  font-size: 16px;
}
#contact-form > div input[type="checkbox"] {
  height: auto;
}
#contact-form > div:after {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e5e5e5;
}
#contact-form > div:nth-child(5):after,
#contact-form > div:nth-child(6):after,
#contact-form > div:nth-child(7):after {
  display: none;
}
.contact_btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_btn button:hover {
  background-color: #3f483b;
}
.contact_btn button {
  all: unset;
  transition: all 0.3s;
  padding: 10px 70px;
  border-radius: 50px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.contact_btn span {
  color: #ffffff;
}
select {
  outline: 0;
  border: 0;
  background-color: #f1f1f1;
  height: 30px;
  padding-left: 5px;
}
textarea {
  outline: 0;
  border: 0;
  background-color: #f1f1f1;
  height: 100px;
  padding: 5px;
  resize: none;
  font-size: 16px;
}
.contact_service_box {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 5px;
}
.contact_service label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.contact_left {
  flex: 1;
  height: 100%;
  background: url(/asset/imgs/contact.jpg) no-repeat 80% / cover;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media all and (max-width: 768px) {
  .contact_wrap {
    flex-direction: column;
    height: auto;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
  }
  .contact_formwrap {
    width: 100%;
    padding: 10% 10px;
  }
  .contact_left {
    flex: initial;
    width: 100%;
    height: 300px;
    order: -1;
  }
}
