.pvoh_wrap {
  max-width: 1000px;
  margin: 0 auto;
}
.pvoh_contents {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.pvho_imgs {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 9px;
}
.pvho_imgs_img {
  flex: 1;

  aspect-ratio: 493/382;
}
.pvoh_text {
  margin-top: 22px;
}
.pvoh_text h4 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
}
.pvoh_text p {
  font-weight: 300;
  font-size: var(--font-xsmall);
}
.pvoh_content2 {
  margin-top: 67px;
  aspect-ratio: 1280/720;

  margin-bottom: 20px;
}
.pvoh_content2 iframe {
  width: 100%;
  height: 100%;
}
.pvoh_product_contents {
  display: flex;

  justify-content: space-between;
}
.pvoh_product_content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 33px;
}
.pvoh_product_content h3 {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 24px;
}
.pvoh_product_content p {
  text-align: center;
  font-weight: 500;
  font-size: var(--font-xsmall);
}
.pvoh_product_img {
  width: 136px;
  height: 136px;
  border-radius: 50%;
}

.pvoh_application_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab {
  width: 190px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  cursor: pointer;
  margin-bottom: 53px;
}
.tab:first-child {
  border-right: 0;
}
.tab span {
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}
.tab.active {
  background-color: #000000;
}
.tab.active span {
  color: #ffffff;
}

.pvoh_application_conetent {
  display: none;
  max-width: 1000px;
  margin: 0 auto;
}
.pvoh_application_conetent.active {
  display: block;
}
.pvoh_application .content {
  flex-direction: column;
}
.grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 27px;
}

.pvoh_grid_img {
  width: 100%;
  aspect-ratio: 1/1;
}
.pvoh_application_text_wrap {
  margin-bottom: 33px;
}
.grid2 ~ .pvoh_application_text {
  margin: 0 auto;
  max-width: 1000px;
}
.pvoh_application_text_wrap h4 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
}

/* bope */
.bope_wrap,
.bope_current_wrap,
.bope_application_wrap,
.bio_application_wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.bope_application .contents {
  display: flex;
  gap: 50px;
}
.bope_application .content {
  flex-direction: column;
  width: 50%;
}
.bope_img,
.bope_application_img {
  overflow: hidden;
  width: 493px;
  height: 382px;
  aspect-ratio: 493/382;
}
.bope_application_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bope_application_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 31px;
}
.bope_application_text > span {
  font-weight: 500;
  font-size: var(--font-xsmall);
}
.bope_application_text span span {
  font-weight: 300;
  font-size: var(--font-xsmall);
}
.bope_application_text_title {
  margin-top: 10px;
  margin-bottom: 77px;
}
.bope_application_text_title h3 {
  margin-bottom: 33px;
  font-size: var(--font-regular);
  text-align: center;
}
.bope_application_text_title h4 {
  font-size: var(--font-xsmall);
}
.bope_application .content_text:not(:last-of-type) {
  margin-bottom: 44px;
}
.bope_application .content_text h3 {
  margin-bottom: 16px;
}
.bope_current .contents {
  display: flex;
  gap: 10px;
}
.bope_current .content {
  flex-direction: column;
}
.bope_current .content_text {
  height: 145px;
  margin-bottom: 20px;
}

.current_img {
  height: 382px;
  aspect-ratio: 493/382;
}

/* mdope */
.bio_intro_wrap,
.bope_intro_wrap {
  max-width: 906px;
  width: 100%;
  margin: 0 auto;
}
.bio_intro .content,
.bope_intro .content {
  display: flex;
  gap: 43px;
  align-items: center;
}
.bio_intro_img {
  width: 493px;
  height: 382px;
}
.bio_char .contents {
  display: flex;
  justify-content: space-between;
}
.bio_char .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin-bottom: 0;
}
.bio_char .content h3 {
  font-size: var(--font-middle);
  font-weight: 700;
  text-align: center;
  margin: 25px;
}
.bio_char .content_text ul {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.bio_char_img {
  border-radius: 50%;
  width: 136px;
  height: 136px;
}

.bio_char .content_text span {
  white-space: initial;
  font-weight: 700;
  font-size: 16px;
}
.bio_application .content {
  display: block;
}
.bio_application .grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}
.bio_application_img {
  height: 382px;

  aspect-ratio: 493/382;
  border: 1px solid #76767673;
}
.bio_application_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio_current .contents {
  display: flex;
  align-items: center;
  gap: 111px;
}
.bio_current_img {
  height: 450px;
  aspect-ratio: 1/1;
}
.bio_current .content_text li:not(:last-of-type) {
  margin-bottom: 30px;
}
