.introduce_title {
  margin-bottom: 90px;
}
.message {
  padding-bottom: 332px;
}
.message .container {
  max-width: calc(1419px + 96px);
}
.message_contents {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 100px;
}
.message_img {
  flex: 1;
}
.message_text {
  width: 652px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}
.message_text img {
  width: 120px;
}
.message_text h4 {
  font-weight: 700;
  font-size: var(--font-regular);
  color: var(--color-contents-title);
}
.message_text p {
  font-weight: 300;
  white-space: nowrap;
  font-size: 20px;
  line-height: 40px;
}
.message_text strong {
  text-align: right;
  margin-top: 70px;
  color: var(--color-contents-title);
  font-weight: 500;
  font-size: 20px;
}
.message_text strong span {
  color: var(--color-contents-title);
  font-weight: 300;
  font-size: 20px;
}

/* 사업소개 */
.business {
  padding-bottom: 332px;
}
.businiess_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.business_content h4 {
  font-size: var(--font-regular);
  font-weight: 700;
  text-align: center;
}
.business_content_box {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 130px;
}
.business_list {
  display: flex;
  gap: 23px;
  align-items: center;
}
.business_list .img {
  width: 130px;
  height: 130px;
  background-color: #d9d9d9;
  border-radius: 50%;
  overflow: hidden;
}
.business_list .data h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
.business_list .data span {
  font-weight: 300;
  font-size: var(--font-xsmall);
}

/* 연혁 */
.roadmap .container {
  max-width: calc(814px + 96px);
}
.roadmap_contents {
  position: relative;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  transform: translate(70px, 0);
}
.roadmap_contents:after {
  width: 1px;
  height: 100%;
  background-color: var(--color-contents-title);
  content: "";
  position: absolute;
  top: 0;
  left: 196px;
}
.roadmap_content {
  display: flex;
  gap: 213px;
  position: relative;
  align-items: flex-start;
  z-index: 1;
}
.roadmap_content:after {
  width: 32px;
  height: 7px;
  background-color: var(--color-main);
  border-radius: 100px;
  position: absolute;
  content: "";
  top: 12px;
  left: 180px;
}
.roadmap_content .year {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-contents-title);
  transform: translate(0, -18px);
}
.roadmap_content .data {
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
  color: var(--color-contents-title);
}

/* 인증 */

.certification_conetents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 124px; */
  gap: 132px 124px;
}
.certification_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.certification_content span {
  font-weight: 700;
  font-size: var(--font-middle);
  color: var(--color-contents-title);
  white-space: nowrap;
  text-align: center;
}

/* 보유설비 */
.facility_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}
.facility_nav li {
  cursor: pointer;
  width: 189px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-contents-title);
}
.facility_contents {
  max-width: 1170px;
  margin: 0 auto;
}
.facility_content {
  display: none;
}

.facility_nav span {
  pointer-events: none;
  color: var(--color-contents-title);
}

.facility_nav li.active {
  background-color: var(--color-contents-title);
}
.facility_nav li.active span {
  color: #ffffff;
}
.facility_content.active {
  display: block;
}
.facility_img {
  display: inline-block;
  position: relative;
  overflow: hidden;
  
}

.facility_hover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  
  background-color: rgba(0, 0, 0, 0.596);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
}
.facility_img:hover .facility_hover{
  opacity: 1;
}
.facility_hover h4{
  font-size: 24px;
  color:#ffffff;
}
.facility_hover p{
  font-size: 16px;
  color:#ffffff;
}
/* */
.facility_img_wrap_1.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}
.facility_img_wrap_1.flex {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.facility_img img {
  height: 100%;
}
.facility_img_wrap_1.grid .facility_img:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
.facility_img_wrap_1.grid .facility_img:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.facility_img_wrap_1.grid .facility_img:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/4;
}
.facility_img_wrap_1.grid .facility_img:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/4;
}
.facility_img_wrap_1.grid .facility_img:nth-child(5) {
  grid-column: 3/4;
  grid-row: 3/4;
}

.facility_img_wrap_2.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.facility_img_wrap_2.grid .facility_img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.facility_img_wrap_2.grid .facility_img:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.facility_img_wrap_2.grid .facility_img:nth-child(3) {
  grid-column: 1/4;
  grid-row: 2/4;
}
.facility_img_wrap_2.grid .facility_img:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}
.facility_img_wrap_2.grid .facility_img:nth-child(5) {
  grid-column: 2/3;
  grid-row: 4/5;
}

/* 오시는길 */
.location_contents {
  margin-bottom: 80px;
}
.location_contents span {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-contents-title);
}
