* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}
a {
  color: #010101;
  display: block;
  text-decoration: none;
}
img {
  width: 100%;
  position: relative !important;
  display: block;
}
button {
  all: unset;
  cursor: pointer;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
